@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #d6e9ff;
    --branco: #FFFFFF;
    --laranja: #ffc966;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #127eff;
}

body {
    background-color: var(#ffb630);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
